.header, h1 {
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  margin: 20px;
}

#container {
  max-width: 120ch;
}

h3 {
  font-size: 12pt;
}

ul {
  margin: 0;
}
ul {
  list-style-type: none;
}
ul {
  padding: 0;
  padding-left: 1ch;
  
}


ul > li {
  text-indent: -1ch;
}
ul > li:before {
  text-indent: -1ch;
  content: "- ";
}

ul > li {
  padding-bottom: .5em;
}